<div class="container">	
	<h1>Administración de Usuarios</h1>
	</hr>
	<div id="page">
	</div>
</div>

<script>
	window.router = new UserRouter({ users: <%= @users.to_json().html_safe %>});
	Backbone.history.start();
</script>
